body{
    margin: 0px;
    overflow-y: scroll;
    scrollbar-width:none;
    /* height: 3000px; */
    background-color:#f5f5f5;
}
.nav{
    width: 100%;
    height: 70px;
    background-color: rgba(240, 241, 241, 0.318);
    display: flex;
}
.subnav{
    margin-left: 150px;
    width: 65%;
    height: 70px;
    /* background-color: rgb(5, 47, 33); */
    display: grid;
    align-items: center;
    grid-template-columns: 130px 550px;
}
.logodiv{
    align-items: center;
    /* background-color: blue; */
    margin-right: 30px;
}
.search{
    /* background-color: antiquewhite; */
    height: 30px;
}
.search input{
    background-color: rgb(0, 0, 0);
    height: 30px;
    width: 550px;
    border: 1px  solid rgb(99, 97, 97);
    border-radius: 5px;
    background-image: url(images/search_24dp_434343_FILL0_wght400_GRAD0_opsz24.png) ;
    background-size: 20px;
    background-position: 5px 5px ;

    background-repeat: no-repeat;
    filter: invert(100%);
    
}
.subnav2{
    margin-left: 50px;
    width: 15%;
    height: 70px;
    /* background-color: rgb(46, 186, 140); */
    display: grid;
    align-items: center;
    grid-template-columns: 40px 30px 80px 60px;
}
.infos{
    /* height: 50px; */
    font-family: sans-serif;
    color: rgb(44, 45, 46);
    align-items: center;
    margin-right: 10px;
    /* background-color: blueviolet; */
}
.drop{
    height: 20px;
    filter: invert(100%);
}
.sign{
    border: 1px solid #ec5e71;
    border-radius: 5px;
    padding-left: 10px;
    /* padding-top: 5px; */
    width: 60px;
    height: 25px;
    background-color: #ec5e71;
    font-size: 14px;
    color: white;
}
.menu{
    height: 30px;
    filter: invert(100%);

}
.secondnav{
    width: 100%;
    height: 40px;
    background-color: #f3f0f0;
    display: flex;
    flex-direction: row;
}
.list1{
    max-width: 50%;
    margin-left: 150px;
    /* background-color: burlywood; */
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px ;
    gap: 15px;
    align-items: center;
    font-family: sans-serif;
    display: flex;
}
a{
    text-decoration: none;
    color: rgb(50, 48, 48);
}
.list2{
    display: flex;
    max-width: 50%;
    margin-left: 37%;
    /* background-color: rgb(150, 222, 135); */
    display: grid;
    grid-template-columns: 80px 80px 50px 50px  ;
    gap: 15px;
    align-items: center;
    font-family: sans-serif;
    font-size: 12px;
}
.section1{
    width: 100%;
    /* margin-top: 10px; */
    background-color: rgb(222, 225, 225);
    height: 320px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    scrollbar-width: none;
    scrollbar-color: black;
    scroll-behavior: smooth;
    gap: 25px;
}
.pictures{
    margin-top: 10px;
    height: 100%;
    width: 80%;
}
.pictures img{
    border-radius: 20px;
}
.recoment{
    margin-left: 150px;
    font-family: sans-serif;
    color: #363535;
}
.section2{
    width: 100%;
    height: 570px;
    /* background-color: burlywood; */
    margin: 0px;
}
.grid{
    width: 82%;
    height: 450px;
    /* background-color: aquamarine; */
    margin-left: 150px;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px 220px 220px 220px 220px 220px 220px;
    gap: 35px;
    overflow-x: scroll;
    overflow-y:hidden ;
    scrollbar-width: none;
}
.imgs{
    height: 450px;
    /* background-color: goldenrod; */
}
.poster{
    width: 220px;
    border-radius: 10px;
}
.imgs h3{
    font-size: 18px;
    font-family: sans-serif;
    margin: 0;
    margin-top: 10px;
    font-weight: 400;
}
.imgs h5{
    font-size: 16px;
    font-family: sans-serif;
    color: #979393;
    margin: 0px;
    margin-top: 10px;
    font-weight: 400;
}
.section3{
    margin-top: 0px;
    margin-left: 150px;
    width: 82%;
    height: 100px;
    margin-bottom: 100px
    /* background-color: #ec5e71; */
}
.banner{
    width: 100%;
}

.section4{
    
    width: 100%;
    height: 330px;
    /* background-color: burlywood; */
    margin: 0px;
}
.grid2{
    width: 82%;
    height: 250px;
    /* background-color: aquamarine; */
    margin-left: 150px;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px 220px 220px ;
    gap: 35px;
    overflow-x: scroll;
    overflow-y:hidden ;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.imgs2{
    height: 220px;
    /* background-color: goldenrod; */
}
.poster2{
    /* height: 240px; */
    width: 220px;
    border-radius: 10px;
}
.section5{
    height: 650px;
    width: 100%;
    background-color: #2b3148;
}
.banner2{
    margin-left: 150px;
    width: 82%;
}
.prem{
    margin: 0px;
    margin-left: 150px;
    font-family: sans-serif;
    color: #ffffff; 
}
.name{
    color: #f8f6f6;
}
.seeall{
    color: #ec5e71;
    text-align: end;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 300;
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 140px;

}

.section6{
    width: 100%;
    height: 570px;
    /* background-color: burlywood; */
    margin: 0px;
}
.grid3{
    width: 82%;
    height: 550px;
    /* background-color: aquamarine; */
    margin-left: 150px;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px 220px ;
    gap: 35px;
    /* overflow-x: scroll; */
    overflow-y:hidden ;
    scrollbar-width: none;
}
.part2{
    width: 100%;
    height: 270px;
    /* background-color: burlywood; */
    margin: 0px;
}
.part2 h2{
    margin-left: 150px;
    font-family: sans-serif;
    color: #363535;
}
.namegrid{
    margin-left: 150px;
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: 150px 120px 230px 100px 160px 120px 100px  ;
    grid-template-rows:70px;
    max-width: 1200px;
    gap: 20px;
    /* justify-content: center; */
    align-items: center;
}
.movies{
    background-color: #ffffff;
    border: 1px solid #4040431f;
    /* width: 150px; */
    height: 70px;
    border-radius: 5px;
}
.movies h3{
    margin: 0px;
    margin-top: 20px;
    margin-left: 15px;
    font-family: sans-serif;
    color:#ec5e71;
    font-size: 16px;
    font-weight: 600;
}
.movies h4{
    margin: 0px;
    margin-left: 15px;
    font-family: sans-serif;
    color:#2b3148;
    font-size: 14px;
    font-weight: 400;
}
.footer{
    width: 100%;
    height: 1310px;
    background-color: #333338;
}
.footer2{
    margin-left: 150px;
    /* background-color: #979393; */
    width: 81%;
    height: 60px;
    display: grid;
    grid-template-columns: 30px 900px 150px;
    color: #f3f0f0;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    position: relative;
    /* margin-top: 30px; */ 
}
.hut{
    margin-top: 20px;
    height: 40px;
    
}
.footer2 h3{
    margin-top: 30px;
    font-weight: 600;
    word-spacing: 0.001px;
    letter-spacing: 0.001;
    height: 50px;
}
.footer2 h2{
    position: absolute;
    left:89%;
    margin-top: 20px;
    /* margin-left: 150px;   */
    color: #f3f0f0;
    font-family: sans-serif;
    font-size: 16px;
    border: 1px solid #ec5e71;
    height: 30px;
    width: 150px;
    background-color: #ec5e71;
    padding-top: 10px;
    border-radius: 5px;
}
.customer{
    width: 100%;
    background-color: #5d5d5f71;
    height: 80px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    justify-content: space-evenly;
}
.icons{
    /* background-color: aqua; */
    filter: invert(80%);
}
.customer2{
    width: 100%;
    background-color: #5d5d5f71;
    height: 20px;
    display: flex;
    display: grid;
    grid-template-columns: 250px 200px 200px;
    justify-content: space-evenly;
    gap: 10px;
}
.names{
    /* background-color: bisque; */
}
.names h6{
    margin: 0;
    /* margin-left: 10px; */
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 100;
    color: #979393;
    text-transform: capitalize;
}
.cust{
    padding-left: 100px;
}
.sub{
    margin-left: 0px;
}
.footer3{
    margin-left: 150px;
}
.session17{
    display: flex;
    width: 100%;
    height: 790px;
    background-color: #333338;
    
    
}
.s17_2{
    width: auto;
    height: auto;
    margin-left: 10%;
   
}
.s17_2 dt{
    color: #A5A5A5;
    margin: 0px 0px 20px;
    font: 12px roboto,sans-serif;
    font-size: 12px;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    margin: 20px 0px 20px;
    color: rgb(165, 165, 165);
}
.s17_2 dd{
    color: rgb(127, 127, 127);
    margin-left: 0px;
    margin: 0px 5px 5px 0px;
    font: 11px roboto,sans-serif;

}
.session17 a{
    font-size: 11px;
    color: rgb(127, 127, 127);
    letter-spacing: 0.1px;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
    margin: 0px 5px 5px 0px;
    padding-right: 5px;
    border-right: 1px solid rgb(127, 127, 127);
}


.session18{
    
    width: 100%;
    height: 200px;
    background-color: #333338;
    position: absolute;
    justify-content: center;
    align-items: center;
    
    
}
.s18d{
    position: relative;
    margin-top: 6%;
    width: 95%;
    margin-left: 30px;
    flex: 1 1 0%;
    height: 1px;
    background: rgb(93, 93, 95);
}
.s18img{
    cursor: pointer;
    position: relative;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    background-color:#333338;
    /* background-image: url('./images/logo.svg'); */
    background-repeat: no-repeat;
    background-size: contain;
    bottom:30px ;
    left: 43%;
    z-index: 100;
    

}
.s18img img{
    margin-left: 40px;
}
.social{
    height: 40px;
    display: grid;
    width: 100%;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    /* background-color: #ec5e71; */
    align-items: center;
    justify-content: center;
}
.socialimg{
    height: 40px;
    filter: invert(50%);
    opacity: 0.5;
}
.context{
    margin-top: 250px;
    color: #a5a5a575;
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
}
svg:hover{
    color: #c71616;
    border-radius: 50%;
    opacity: 0.1;
}

/* secons page css */
/* secons page css */
/* secons page css */
/* secons page css */



.container{
    height: 480px;
    width: 100%;
    display: flex;
    background-image: linear-gradient(90deg, rgb(26, 26, 26) 24.97%, rgb(26, 26, 26) 38.3%, rgba(26, 26, 26, 0.04) 97.47%, rgb(26, 26, 26) 100%),url('./images/bougainvillea-et00413069-1727432413.avif');
    background-repeat: no-repeat;
    /* background-color: #ec5e71; */
    background-size: contain;
    background-position: right;
}
.main{
    height: 416px;
    width: 1240px;
    /* background-color: #363535; */
    margin-left: 10%;
    position: relative;
    top: 25px;
    display: flex;
    
}
.mainimg{
    height: 416px;
    border-radius: 10px;
}
.text{
    color: #f3f0f0;
    background-color: black;
    position: absolute;
    width: 277px;
    border-radius:0px 0px 10px 10px;
    top: 92.9%;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
    height: 25px;
    font-size: 14px;
    padding-top: 5px;
}
.main2{
    /* background-color: #5eec7d; */
    margin-left: 3%;
    width: 50%;
}
.bougan{
    color: #f3f0f0;
    font-family: sans-serif;
    margin-top: 70px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0;
}
.main3{
    /* display: flex; */
}
.rating{
    height: 70px;
    width: 68%;
    background-color: #363535;
    border-radius: 10px;
    text-align: center;
    display: flex;
}
.star{
    filter: invert(20%);
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.Votes{
    color: white;
    font-family: sans-serif;
    font-size:16px;
    margin-top: 25px;
    margin-left: 10px;
}
.ratenow{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size:18px;
    /* margin-top: 25px; */
    margin-left: 60px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    padding:10px 20px 10px 20px;
    height: 20px;
    width: 80px;
}
.timediv{
    margin-top: 20px;
    height: 80px;
    width: 400px;
    /* background-color:blueviolet; */
}
.lang{
    /* background-color: cornflowerblue; */
    gap: 10px;
    display: flex;
    height: 30px;
}
.h6{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: 400;
    font-size:14px;
    margin-top: 0px;
    /* margin-left: 60px; */
    border: 1px solid white;
    border-radius: 3px;
    background-color: white;
    padding-left:10px ;
    padding-top: 5px;
    padding-right: 10px;
    height: 20px;
    /* width: 100px; */
}
.time{
    height: 15px;
}
.movie{
    color: #ffffff;
    font-family: sans-serif;
    height: 15px;
}
.book{
    background-color: #ec5e71;
    margin-top: 50px;
    width: 200px;
    height: 30px;
    text-align: center;
    color: #f8f6f6;
    font-family: sans-serif;
    border-radius: 5px;
    padding-top: 15px;
}
.sharediv{
    width: 250px;
    position: relative;
}
.share{
    position: absolute;
    left:78%;
    width: 120px;
    background-color: #363535a1;
    height: 50px;
    border-radius: 5px;
}
.shareimg{
    height: 30px;
    filter: invert(100%);
    margin-left: 20px;
    margin-top: 10px;
}
.share p{
    position: absolute;
    left: 50%;
    top: 30%;
    margin: 0px;
    color: #f3f0f0;
    font-family: sans-serif;
    font-weight: 600;
}
.container2{
    height: 480px;
    width: 100%;
    /* background-color: brown; */
}
.about{
    margin-top: 50px;
    margin-left:10% ;
    /* background-color: #ec5e71; */
    width: 60%;
}
.about h1{
    font-family: sans-serif;
    font-size: 24px;
}
.about h3{
    font-family: sans-serif;
    font-size: 18px;
}
.about hr{
    margin-top: 30px;
}
.casttext{
    margin-left: 10%;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 24px;
}
.castgrid{
    max-width: 60%;
    margin-left: 10%;
    height: 200px;
    /* background-color: beige; */
    display: grid;
    display: flex;
    grid-template-columns: 120px 120x 120px 120px 120px 120px 120px 120px 120px;
    gap: 30px;
    overflow-x: scroll;
    scrollbar-width: none;
}
.cast{
    height: 120px;
    width: 120px;
    text-align: center;
}
.cast img{
    height: 120px;
    border-radius: 50%;
}
.cast h5{
    margin: 0;
    margin-top: 7px;
    font-family: sans-serif;
}
.cast h6{
    margin-top: 5px;
    font-family: sans-serif;
    color: #A5A5A5;
} 